body{
    background-color: #e4e5e7;
}

.mont{
    font-family: 'Montserrat';
}
.crim{
    font-family: 'Crimson Pro';
}
input[type='checkbox'],
input[type='radio']{
    display: none;
}
a{
    text-decoration: none;
}
.selectBox{
    display: inline-block; box-sizing: border-box; 
    background: url('../images/bg_arrow.png') no-repeat right center;
}
/* padding을 쓸거같아서 미리 박스사이징 줬음 */
.selectBox select{
    border: none; box-shadow: none; background-image: none; 
    background-color: transparent; appearance: none;
    /* 여기까지가 해킹코드 */
    font-family: inherit; font-weight: 600; font-size: 11px;
    color: #343e5c; padding: 10px 20px 10px 0;
    /* 이미지때문에 왼쪽 padding 20px 줌 */
}
/* 이 위는 해킹코드임 브라우저가 내리는 걸 없애버리는 코드
모든 인풋과 관련되어있는,브라우저가 디자인을 내려받는 태그들을 없애버리는 코드임 외우기!
근데 이걸 사방팔방 박고 다니면 정상적인 구현이 안됨 상황을 잘 보면서 써야 돼 */


/* tabelt / mobile to do */
@media screen and (min-width: 1280px){
    /* max-width 먼저 잡으려고 header먼저 안 썼음*/
    header>div,
    header+nav .slideNav,
    .contentArea,
    section.bestArea,
    footer>div{
        max-width: 1170px; margin: 0 auto;
    }
    /* 마진을 안 잡는 방법 */
    header{
        border-bottom: 1px solid #f0f2f7; background-color: white;
    }
    header>div:after{
        content: ''; display: block; clear: both;
    }
    header>div> *{
        float: left;
    }
    /* class로 이루어진 태그들은 제일 막내(태그-선택자-아이디-클래스)*/
    header>div label.material-icons{
        width: 5.12%; max-width: 60px; line-height: 90px;
        box-sizing: border-box;
        border-right: 1px solid #f0f2f7; display: block; color: #3e425a;
    }
    header>div h1{
        width: 10.68%; max-width: 125px;
    }
    header>div h1 a{
        display: block; padding: 31px 0; text-align: right;
    }
    header>div h1 a img{
        width: 100%; max-width: 92px;
    }
    header>div nav{
        width: 54.7%;
    }
    header>div nav ul{
        text-align: right;
    }
    header>div nav ul li{
        display: inline-block;
    }
    header>div nav ul li:not(:first-child){
        margin-left: 2.56%;
    }
    header>div nav ul li a{
        display: block; font-size: 14px; font-weight: 600;
        color: #343e5c; line-height: 90px;
    }
    header>div div{
        width: 29.5%; font-size: 11px; color: #343e5c;
        text-align: right; line-height: 90px;
    }
    /* 기능/이미지는 인라인블럭  -> 인라인은 블럭을 감쌀 수 없음*/
    header>div div *:not(input){
        display: inline-block;
    }
    header>div div strong{
        padding-left: 25px; line-height: 17px; font-weight: 600;
        background: url('../images/bul_cart.png') left top / contain no-repeat;
        /* contain은 png(고정)일 때는 쓰면 안되고 svg여야 돼 크기가 자유자재로 움질일 수 있어서 */
    }
    header>div div span{
        width: 24px; line-height: 24px; background-color: #e3e8f0;
        border-radius: 12px; margin-left: 2%; font-weight: 400;
    }
    header>div div input[type='button']{
        font-size: 11px; font-weight: 600; padding: 8px 15px;
        border: 2px solid #e3e8f0;
        border-radius: 16px; background-color: white; margin-left: 8%;
        font-family: inferit; letter-spacing: 1px; cursor: pointer;
    }
    /* header Fin */

    /* 페이저 = 글로벌임 / 시안에 페이저가 있으면 무조건 다 등장한다는 얘기라서 */
    /* 페이저의 너비를 쓰면 안됨 어떤 배치마다 변화가 나올 수 있으니까 모양만 잡아두면 됨 */
    .paging{
        position: relative; background-color: white; border-radius: 5px;
        clear: both;
        /* 리스트컨텐츠는 필터를 가지고있음 float를 하면 페이저가 끊어내니까 
        페이저는 거의 무조건 clear both를 가지고 다님 */
    }
    .paging>a{
        position: absolute; top: 0; text-align: center;
        width: 17%; line-height: 90px;
        font-size: 18px; font-weight: 600; color: #3a405b;
    }
    .paging>a:first-of-type{
        left: 0; border-right: 1px solid #f0f2f7;
    }
    .paging>a:last-of-type{
        right: 0; border-left: 1px solid #f0f2f7;
    }
    .paging ol{
        text-align: center; padding: 20px 17%; box-sizing: border-box;
    }
    .paging ol li{
        display: inline-block;
    }
    .paging ol li a{
        display: block; width: 50px; line-height: 50px; border-radius: 25px;
        font-size: 14px; color: #3a405b; font-weight: 600; background-color: white;
        transition: box-shadow 0.3s ease-out;
    }
    .paging ol li a:hover{
        box-shadow: 0 5px 8px rgba(168, 172, 185, 0.62);
        color: #b9bed1;
    }
    /* pager Fin */

    footer{
        background-color: #222328;
    }
    footer>div{
        padding: 60px 0; position: relative;
    }
    footer>div:first-child{
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    }
    footer>div span{
        display: block; position: absolute; right: 0; top: 60px;
    }
    footer>div:first-child h2{
        position: absolute; left: 0; top: 60px; width: 7.86%; max-width: 92px;
    }
    footer>div:first-child h2 img{
        width: 100%; min-width: 78px;
        /* 흘려쓰는 텍스트로고이기 때문에 작아지면 안 보이니까 min-width를 쓴거임 */
    }
    footer>div:first-child ul{
        padding: 0 10%; text-align: center;
    }
    footer>div:first-child ul li{
        display: inline-block;
    }
    footer>div:first-child ul li:not(:first-child){
        margin-left: 2.56%;
    }
    footer>div:first-child ul li a{
        display: block; color: white; font-size: 12px; font-weight: 600;
    }
    footer>div:first-child span{
        width: 8.94%;
    }
    footer>div:first-child span a{
        display: inline-block; width: 24px; height: 18px;
        background-position: center; background-repeat: no-repeat;
        text-indent: -9999px;
    }
    footer>div:first-child span a:not(:first-of-type){
        margin-left: 2.4%;
    }
    footer>div:first-child span a:nth-child(1){
        background-image: url('../images/sns_01.png');
    }
    footer>div:first-child span a:nth-child(2){
        background-image: url('../images/sns_02.png');
    }
    footer>div:first-child span a:nth-child(3){
        background-image: url('../images/sns_03.png');
    }
    footer>div:nth-child(2) p{
        width: 50%; max-width: 510px; font-size: 14px; 
        font-style: italic; font-weight: 400; line-height: 22px;
        color: rgba(255, 255, 255, 0.3);
    }
    footer>div:nth-child(2) span{
        width: 50%; text-align: right;
    }
    footer>div:nth-child(2) span a{
        font-size: 11px; color: rgba(255, 255, 255, 0.3);
        display: inline-block; font-weight: 600;
    }
    footer>div:nth-child(2) span a:last-of-type{
        margin-left: 2.56%;
    }
    /* footer Fin */



}
/* desktop */