*{
    margin: 0; padding: 0;
}
header{
    background-color: black;
    width: 1440px; height: 800px;
    margin: 0 auto;
    position: relative;
}
header h1{
    margin-left: 60px; padding-top: 50px;
}
header h1 a{
    display: inline-block;
}
header h1 a img{
    width: 100px; height: 30px;
}
header nav{
    float: left; width: 100%;
}
header nav:after{
    content: ''; display: block; clear: both;
}
header nav ul{
    list-style: none; text-align: center;
    float: left;
}
header nav ul li{
    display: inline-block;
    text-align: center; 
    font-size: 22px; line-height: 28px;
}
header nav ul li a{
    display: block; 
    text-decoration: none;
    color: white;
    margin-left: 40px;
}
header nav ul li:first-child a{
    margin-left: 800px;
}
header nav ul li:last-child a{
    border: 1px solid white;
    background-color: white;
    color: black; 
    width: 110px; line-height: 50px; 
    border-radius: 30px;
}
.wrap1{
    margin: 0; padding: 0;
}
.wrap1 h2{
    color: white;
    font-size: 150px;
    text-align: center;
}
.wrap1 p:first-of-type{
    font-size: 30px; line-height: 36px;
    color: white;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 70px;
}
.wrap1 p:last-of-type{
    color: white;
    font-size: 16px; line-height: 22px;
    text-align: center;
    padding-bottom: 30px;
}
.wrap1 input{
    width: 230px; height: 50px;
    margin-right: 15px;
    font-size: 14px;
    margin-bottom: 100px;
}
.wrap1 input[type='email']{
    margin-left: 350px;
    color: black;
}
.wrap1 input[type='password']{
    color: red;
}
.wrap1 input[type='button']{
    background-color: brown;
    color: white;
    /* 크기조절해야되는데 */
}
.wrap1 div{
    margin: 0;
}
.wrap1 div p{
    font-size: 18px;
    display: inline-block;
    position: absolute; left: 50px; bottom: 50px;
}
.wrap1 div p img{
    width: 70px; height: 20px;
}
.wrap1 div a{
    display: block;
    position: absolute; right: 50px; bottom: 50px;
}
.wrap2{
    background-color: orange;
    width: 1440px; height: 800px;
    margin: 0 auto;
}
.wrap2 h2{
    font-size: 60px;
    color: white;
    padding-left: 160px; padding-top: 180px;
}
.wrap2 p{
    font-size: 18px; line-height: 24px;
    width: 30%; color: white;
    padding-left: 160px;
    margin-bottom: 40px;
}
.wrap2 ul{
    list-style: none;
}
.wrap2 ul li{
    display: block;
    text-align: left;
    /* border: 1px solid white; */
    width: 15%; line-height: 60px;
    margin-left: 160px;
}
.wrap2 ul li:first-of-type{
    border-width: 1px;
    border-style: solid;
    border-color: white;
    border-radius: 10px 10px 0 0;
}
.wrap2 ul li:nth-of-type(2){
    border-width: 0 1px 1px;
    border-style: solid;
    border-color: white;
}
.wrap2 ul li:last-of-type{
    border-width: 0 1px 1px;
    border-style: solid;
    border-color: white;
    border-radius: 0 0 10px 10px;
}
.wrap2 ul li a{
    display: block;
    text-decoration: none;
    color: white;
    padding-left: 20px;
}
.wrap2 ul li a:hover{
    color: black;
    background-color: white;
}
.wrap3{
    background-color: yellowgreen;
    width: 1440px; height: 800px;
    margin: 0 auto;
}
.wrap3 p{
    font-size: 100px;
    width: 70%; text-align: center;
    margin: 0 auto; padding-top: 100px;
}
.wrap4{
    background-color: violet;
    width: 1440px; height: 800px;
    margin: 0 auto;
}
.wrap4 h2{
    font-size: 60px; text-align: center;
    padding-top: 60px;
    margin-bottom: 200px;
}
.wrap4 ul{
    list-style: none;
}
.wrap4 ul:after{
    content: ''; display: block; clear: both;
}
.wrap4 ul li{
    display: block;
    float: left; right: 200px;
} 
.wrap4 ul li dl{
    /* margin: 0 auto; padding: 0; */
    width: 310px;
    text-align: center;
}
.wrap4 ul li dl dt{
    font-size: 18px;
    font-weight: blod;
}
.wrap4 ul li dl dt dd{
    font-size: 16px;
}
.wrap4 ul li:first-child{
    background-image: url('../images/bul_01.png');
    background-repeat: no-repeat;
    background-position: 200px 50px;
}